<!DOCTYPE html>
<html dir="rtl" lang="fa">
	<head>
		<meta charset="UTF-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Bazar Rag machine-made carpet online store</title>
		<meta name="viewport" content="width=21cm, initial-scale=1">
		<link rel="stylesheet" href="{{ base }}catalog/view/theme/default/stylesheet/digital_catalog/css/digital_catalog.css"/>
	</head>

	<body dir="rtl">
		<h1 style="color:red;">{{ category_name }}</h1>
		<button id="btn_download_pdf">دانلود PDF</button>

		<div id="pdf_content" style="margin-right:15px;">

			{% for product_data in products %}
				<header>
					<div class="store_logo">
						<img src="{{ base }}catalog/view/theme/default/stylesheet/digital_catalog/image/logo-bazar-rug-01.jpg" width="70px"/>
					</div>
					<div class="store_name">
						فروشگاه اینترنتی فرش ماشینی بازار راگ
					</div>
				</header>
				<main class="main" style="page-break-after: always; direction: rtl;">

					<div class="product_description">

						{% if show_model %}
							<div class="description_section">
								<div class="title model-title">طرح</div>
								<div class="model_d">{{ product_data.product.model }}</div>
							</div>
						{% endif %}

						{% if show_color and product_data.color_data is defined and product_data.color_data %}
							<div class="description_section">
								<div class="title">رنگ‌ها</div>
								<ul class="product_color">
									{% for color in product_data.color_data %}
										<li>
											<div class="color_box" style="background-color: {{ color.code }};"></div>
											<div class="color_title">{{ color.name }}</div>
										</li>
									{% endfor %}
								</ul>
							</div>
						{% endif %}


						{% if show_description %}
							<div class="description_section description">
								{{ product_data.description|raw }}
							</div>
						{% endif %}


						{% if show_attributes %}
							<ul class="description_section attribute_list">
								{% for attr in product_data.attributes %}
									<li>{{ attr.text }}</li>
								{% endfor %}
							</ul>
						{% endif %}


						<div class="description_section">
							<div style="font-weight: bold; font-size: 14px; border: 1px solid #000; padding: 15px; display: inline-block;">
								کیوارکد
							</div>
						</div>
					</div>

					{% if show_image %}
						<div class="product_image">
							<div class="col_1">
								{% if product_data.product.main_image %}
									<div class="first_image">
										<img src="{{ product_data.product.main_image }}" alt="Main Image"/>
									</div>
								{% endif %}

								{# نمایش ۱ تصویر جانبی اضافه در col_1 اگر بیشتر از ۴ تصویر جانبی داشتیم #}
								{% if product_data.images|length > 4 %}
									<div>
										<img src="{{ product_data.images[4].image }}" alt="Additional Image"/>
									</div>
								{% endif %}
								<span class="category_name">{{ category_name }}</span>
							</div>

							<div
								class="col_2">
								{# ۴ تصویر جانبی اول #}
								{% for img in product_data.images|slice(0, 4) %}
									<div>
										<img src="{{ img.image }}" alt="Additional Image"/>
									</div>
								{% endfor %}
							</div>
						</div>
					{% endif %}


				</main>
			{% else %}
				<p style="text-align:center; color:red;">هیچ محصولی یافت نشد</p>
			{% endfor %}

		</div>

		<script src="{{ base }}catalog/view/theme/default/stylesheet/digital_catalog/js/html2pdf.bundle.min.js"></script>
		<script>
			document.getElementById("btn_download_pdf").addEventListener("click", function () {
			const element = document.getElementById("pdf_content");

			const opt = {
			margin: 0,
			filename: 'my-design.pdf',
				image: {
			type: 'jpeg',
			quality: 0.98
			},
			html2canvas: {
			scale: 2,
			useCORS: true
			},
			jsPDF: {
			unit: 'mm',
			format: 'a4',
			orientation: 'portrait'
			}
		};

		html2pdf().set(opt).from(element).save();
		});
		</script>

	</body>
</html>
